.header-div {
  display: flex;
  align-items: center;
  margin: 25px;
}

.header-img {
  width: 200px;
}

.header-title {
  color: #00438c;
}

@media screen and (max-width: 600px) {
  .job-img {
    background-color: red;
    display: none;
  }
  .header-img {
    margin-left: 20px;
  }
}
